.token-input-panel {
    width: 382px;
    max-width: 382px;
    min-width: 380px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 4px, rgba(0, 0, 0, 0.6) 0px 7px 13px -3px, rgba(253, 253, 253, 0.6) 0px -3px 0px inset;
}

input {
    outline: none;
    height: 30px;
    width: 200px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    appearance: none;
    outline: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::placeholder {
    color: #e6e4e4;
}

input:disabled {
    cursor: not-allowed;
}

button:disabled {
    cursor: not-allowed;
}

.set-max-value {
    background-color: transparent;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

.set-max-value:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.select-token {
    min-width: 100px;
    margin-left: 5px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.selected-token-ico {
    width: 30px;
    border-radius: 50%;
}